In [1]:
import pandas as pd
import numpy as np

## DataFrames

In [2]:
forum_users={
    'User_Id':np.array([1,2,3,4,5,6]),
    'Username':['oleksandr_s','tom_lankaster','data_drui','ganlui_de_prua','yunli_lio_dzo' ,'none_user'],
    'Age':[23,21,14,99,34,None],
    'Joined Date':pd.to_datetime(['2029-03-11','2028-05-03','2038-03-01','2010-06-06','2100-05-02',None]),
    'Total Posts':[100,105,129,120,9,105],
    'Reputation': [200,289,900,20,45,203],
}
df=pd.DataFrame(forum_users)
df

   User_Id        Username   Age Joined Date  Total Posts  Reputation
0        1     oleksandr_s  23.0  2029-03-11          100         200
1        2   tom_lankaster  21.0  2028-05-03          105         289
2        3       data_drui  14.0  2038-03-01          129         900
3        4  ganlui_de_prua  99.0  2010-06-06          120          20
4        5   yunli_lio_dzo  34.0  2100-05-02            9          45
5        6       none_user   NaN         NaT          105         203

In [3]:
df.shape

(6, 6)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['User_Id', 'Username', 'Age', 'Joined Date', 'Total Posts',
       'Reputation'],
      dtype='object')

In [6]:
type(df.columns)

pandas.core.indexes.base.Index

In [7]:
df.columns.tolist()

['User_Id', 'Username', 'Age', 'Joined Date', 'Total Posts', 'Reputation']

In [8]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
df.index.tolist()

[0, 1, 2, 3, 4, 5]

In [10]:
df.dtypes

User_Id                 int32
Username               object
Age                   float64
Joined Date    datetime64[ns]
Total Posts             int64
Reputation              int64
dtype: object

In [11]:
df.values

array([[1, 'oleksandr_s', 23.0, Timestamp('2029-03-11 00:00:00'), 100,
        200],
       [2, 'tom_lankaster', 21.0, Timestamp('2028-05-03 00:00:00'), 105,
        289],
       [3, 'data_drui', 14.0, Timestamp('2038-03-01 00:00:00'), 129, 900],
       [4, 'ganlui_de_prua', 99.0, Timestamp('2010-06-06 00:00:00'), 120,
        20],
       [5, 'yunli_lio_dzo', 34.0, Timestamp('2100-05-02 00:00:00'), 9,
        45],
       [6, 'none_user', nan, NaT, 105, 203]], dtype=object)

In [12]:
type(df.values)

numpy.ndarray

In [13]:
df.values[1,2]

21.0

In [14]:
df.head(3)

   User_Id       Username   Age Joined Date  Total Posts  Reputation
0        1    oleksandr_s  23.0  2029-03-11          100         200
1        2  tom_lankaster  21.0  2028-05-03          105         289
2        3      data_drui  14.0  2038-03-01          129         900

In [15]:
df.tail(3)

   User_Id        Username   Age Joined Date  Total Posts  Reputation
3        4  ganlui_de_prua  99.0  2010-06-06          120          20
4        5   yunli_lio_dzo  34.0  2100-05-02            9          45
5        6       none_user   NaN         NaT          105         203

In [16]:
df.describe().round(2)

       User_Id    Age  Total Posts  Reputation
count     6.00   5.00         6.00        6.00
mean      3.50  38.20        94.67      276.17
std       1.87  34.74        43.36      322.35
min       1.00  14.00         9.00       20.00
25%       2.25  21.00       101.25       83.75
50%       3.50  23.00       105.00      201.50
75%       4.75  34.00       116.25      267.50
max       6.00  99.00       129.00      900.00

In [17]:
type(df.describe())

pandas.core.frame.DataFrame

In [18]:
df.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [19]:
df.select_dtypes(include='object')

         Username
0     oleksandr_s
1   tom_lankaster
2       data_drui
3  ganlui_de_prua
4   yunli_lio_dzo
5       none_user

In [20]:
df.select_dtypes(include='object').columns

Index(['Username'], dtype='object')

In [21]:
df.select_dtypes(exclude='object')

   User_Id   Age Joined Date  Total Posts  Reputation
0        1  23.0  2029-03-11          100         200
1        2  21.0  2028-05-03          105         289
2        3  14.0  2038-03-01          129         900
3        4  99.0  2010-06-06          120          20
4        5  34.0  2100-05-02            9          45
5        6   NaN         NaT          105         203

In [22]:
df.select_dtypes(include='int64')

   Total Posts  Reputation
0          100         200
1          105         289
2          129         900
3          120          20
4            9          45
5          105         203

In [23]:
df.isna().sum()

User_Id        0
Username       0
Age            1
Joined Date    1
Total Posts    0
Reputation     0
dtype: int64

In [24]:
type(df.isna().sum())

pandas.core.series.Series

In [25]:
df.select_dtypes(exclude=['object','int64'])

   User_Id   Age Joined Date
0        1  23.0  2029-03-11
1        2  21.0  2028-05-03
2        3  14.0  2038-03-01
3        4  99.0  2010-06-06
4        5  34.0  2100-05-02
5        6   NaN         NaT

## Series

In [26]:
username_series=df['Username']
username_series

0       oleksandr_s
1     tom_lankaster
2         data_drui
3    ganlui_de_prua
4     yunli_lio_dzo
5         none_user
Name: Username, dtype: object

In [27]:
type(username_series)

pandas.core.series.Series

In [28]:
username_series.values

array(['oleksandr_s', 'tom_lankaster', 'data_drui', 'ganlui_de_prua',
       'yunli_lio_dzo', 'none_user'], dtype=object)

In [29]:
type(username_series.values)

numpy.ndarray

In [30]:
username_series.index

RangeIndex(start=0, stop=6, step=1)

In [31]:
username_series.value_counts()

oleksandr_s       1
tom_lankaster     1
data_drui         1
ganlui_de_prua    1
yunli_lio_dzo     1
none_user         1
Name: Username, dtype: int64

In [32]:
df['Username'].value_counts()

oleksandr_s       1
tom_lankaster     1
data_drui         1
ganlui_de_prua    1
yunli_lio_dzo     1
none_user         1
Name: Username, dtype: int64

In [33]:
df['Username'].value_counts().values

array([1, 1, 1, 1, 1, 1], dtype=int64)

In [34]:
df['Username'].value_counts().index

Index(['oleksandr_s', 'tom_lankaster', 'data_drui', 'ganlui_de_prua',
       'yunli_lio_dzo', 'none_user'],
      dtype='object')

In [36]:
df['Total Posts'].value_counts()

105    2
100    1
129    1
120    1
9      1
Name: Total Posts, dtype: int64

In [38]:
df['Total Posts'].value_counts(ascending=True)

100    1
129    1
120    1
9      1
105    2
Name: Total Posts, dtype: int64

In [37]:
df['Total Posts'].value_counts().index

Int64Index([105, 100, 129, 120, 9], dtype='int64')

In [39]:
df['Total Posts'].unique()

array([100, 105, 129, 120,   9], dtype=int64)

In [40]:
username_series.sort_values()

2         data_drui
3    ganlui_de_prua
5         none_user
0       oleksandr_s
1     tom_lankaster
4     yunli_lio_dzo
Name: Username, dtype: object

In [41]:
username_series.sort_values(ascending=False)

4     yunli_lio_dzo
1     tom_lankaster
0       oleksandr_s
5         none_user
3    ganlui_de_prua
2         data_drui
Name: Username, dtype: object